POSTGRES_HOST_PORT=5433
USER_SERVICE_DB=user_service_db
NOTIFICATION_SERVICE_DB=notification_service_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
USER_EVENTS_TOPIC=user-events
KAFKA_HOST_PORT=29092
MAILHOG_SMTP_PORT=1025
MAILHOG_UI_PORT=8025
